#Header-row{
    background-color: black;
    padding:10px;
}

#Header-row-second{
    background-color: whitesmoke;
}
#Header-row-second-list li{
    color:black;
    line-height: 8em;
    cursor: pointer;
}

#Header-row-third{
    background-color: rgb(240, 240, 240);
    padding-top: 50px;
    padding-bottom: 50px;
}

#Header-row-fourth{
    background-color:white;
}

ul{ 
    overflow: hidden;
    list-style-type: none;
}

ul li{
    display: inline;;
    padding: 10px;
    color:white;
}

.fa-instagram{
    color:white;
    cursor: pointer;
}
.fa-facebook{
    color:white;
    cursor: pointer;
}
.fa-linkedin{
    color:white;
    cursor: pointer;
}
.fa-twitter{
    color:white;
    cursor: pointer;
}
.fa-google{
    color:white;
    cursor: pointer;
}
.fa-phone{
    color:whitesmoke;
    cursor: pointer;
}
.fa-envelope{
    color:white;
    cursor: pointer;
}
.fa-map-marker{
    color:green;
    cursor: pointer;
}

#first{
    display: flex;
    justify-content: flex-start;
    margin-top:auto;
}

#second{
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
}

.img-responsive{
    position: relative;
}

.formm{
    position: absolute;
    color:white; 
    top:25%; 
    left:380px; 
    width:50%;
    height:40%;

}

.formm .form-control{
    font-size: 25px;
    height:60.25px;
    border:none;
    background-color: rgba(255, 255, 255, 0.8);
    border:none;
    color:black;
    visibility: visible;
}

.glyphicon-search{
    height:45px;
    font-size: 20px;
    padding:10px;
    color:green;
    height:47px;
    
}

.btn-default{
    background-color:rgba(255,255,255,0.5);
    border:none;
    height:60.5px;
}

.container-fullwidth{
    text-align :center;
}

.centered {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Raleway;
    font-size: 16px;
    line-height: 24px;
    text-transform: none;;
    color:green;
    font-weight:bold;
    -webkit-font-smoothing: subpixel-antialiased;
  }

.centered-heading{
    position:relative;
    top: 50%;
    left: 50%;
    padding-top: 150px;
    transform: translate(-50%, -50%);
    color:black;
    
    font-family:Raleway;
    font-size: 24px;
    line-height: 28px;
    text-transform: none;;
    font-weight: 700;
}

.centered-text{
    position:relative;
    padding-bottom:100px;
    left: 50%;
    transform: translate(-50%, -50%);
    color:rgb(128,128,128);
    font-size: 18px;
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: lato;
    line-height: 24px;
    text-transform: none;;
}


.img-responsive{
    max-height: 500px;
    width:100%;;
}

.thumbnail{
    border-width:2px;
    border-color:white;
    display:-webkit-inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    justify-content: space-around;
}


/**************Footer**********************/

#myFooter {
	background-color: #222222;
    color:white;
    padding-top: 40px;
}

#myFooter ul{
	list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

}

#myFooter h5{
	font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a{
	color:#d2d1d1;
	text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus{
	text-decoration: none;
	color:white;
}

.footer-social{
    padding-top:40px;
    padding-bottom: 20px;
    font-size: 30px;
}

#myFooter .social-networks a{
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}





